* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: sans-serif,Arial, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}